<%- include('header.ejs') %> 
    <h1>後台管理首頁</h1>

    <a href="/post/create"><button>新增文章➕</button></a>
    
     <% if(blogs.length) { %>
        <h2>全部文章 - 共<%=blogs.length%>篇</h2>
        <% blogs.forEach(article => { %>
            <div class="postTable">
                <span><a href="/post/edit/<%=article._id%>">✏️更改</a></span> | 
                <span><a href="/post/delete/<%=article._id%>">❌刪除</a></span> | 
                <span><a href="/post/view/<%=article._id%>" target="_blank"><%=article.title%></a>
                </span> (瀏覽數 <%=article.views%>)
            </div>
        <% }) %>
    <% } %>

    <% if(!blogs.length) { %>
        <h2>資料庫內暫時沒有文章</h2>
    <% } %>
<br/>
    <a href="/post/create"><button>新增文章➕</button></a>

    
<%- include('footer.ejs') %> 