<%- include('header.ejs') %> 

    <h1>首頁</h1>
    
     <% if(blogs.length) { %>
        <h2>全部文章 - 共<%=blogs.length%>篇</h2>
        <% blogs.forEach(article => { %>
            <div class="postTable">
                <span><a href="/post/view/<%=article._id%>" target="_blank"><%=article.title%></a>
                </span> (瀏覽數 <%=article.views%>)
            </div>
        <% }) %>
    <% } %>

    <% if(!blogs.length) { %>
        <h2>資料庫內暫時沒有文章</h2>
    <% } %>

    
<%- include('footer.ejs') %> 